<p>Press the button below to debit this amount from your prepay credit and place the order.</p>
{{ open_form() }}
	{{ flash_message() }}
	<input type="button" onclick="return $(this).getForm().sendRequest('shop:on_pay')" value="Pay"/>
</form>